.Grid-box{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}
.Grid-box > div{
    background-color: aquamarine;
    text-align: center;
    padding: 20px 0;
    font-size: 36px;

}